@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {

  #player {
    margin-right: 37%;
  }

  #startingGameText {
    font-size: 2.3rem;
    margin-top: -680px;
    margin-left: 25px;
  }

  #start-game {
    margin-left: 55px;
    position: relative;
    top: -80px;
    font-size: 1.7rem;
    padding: 20px;
  }

  #rock {
    margin-top: 30px;
    position: relative;
    left: 60px;
    padding: 15px;
    margin: 10px;
    width: 50%;
    height: 5%;
    font-size: 2rem;
    animation: fadeIn 2s;
  }

  #paper {
    margin-top: 30px;
    position: relative;
    left: 90px;
    padding: 15px;
    margin: 10px;
    width: 50%;
    height: 5%;
    font-size: 2rem;
    animation: fadeIn 2s;
  }

  #scissors {
    width: 44%;
    margin-top: 140px;
    position: relative;
    left: -120px;
    width: 45%;
    height: 5%;
    font-size: 1.8rem;
    animation: fadeIn 2s;
  }

  #random {
    margin-top: 300px;
    margin-left: 75px;
    font-size: 1.8rem;
    padding: 13px;
    width: 42%;
    height: 12%;
    animation: fadeIn 2s;
  }

  #textOnTop {
    top: 180px;
    left: 70px;
    font-size: 2.1rem;
  }
}


@media only screen and (max-width: 400px) {
  #player {
    margin-right: 45%;
  }

  .scores{
    font-size: 1.25rem;
  }

  #startingGameText {
    font-size: 2.4rem;
    margin-top: -680px;
    margin-left: 15px;
  }

  #start-game {
    margin-left: 90px;
    position: relative;
    top: -90px;
    font-size: 2rem;
    padding: 20px;
  }

  #rock {
    margin-top: 30px;
    position: relative;
    left: 70px;
    padding: 25px;
    margin: 10px;
    width: 50%;
    height: 5%;
    font-size: 2.2rem;
    animation: fadeIn 2s;
  }

  #paper {
    margin-top: 30px;
    position: relative;
    left: 100px;
    padding: 25px;
    margin: 10px;
    width: 50%;
    height: 5%;
    font-size: 2.2rem;
    animation: fadeIn 2s;
  }

  #scissors {
    width: 44%;
    margin-top: 160px;
    position: relative;
    left: -145px;
    width: 45%;
    height: 5%;
    padding: 18px;
    font-size: 2.2rem;
    animation: fadeIn 2s;
  }

  #random {
    margin-top: 300px;
    margin-left: 105px;
    font-size: 2.12rem;
    padding: 13px;
    width: 40%;
    height: 12%;
    animation: fadeIn 2s;
  }

  #textOnTop {
    top: 200px;
    left: 115px;
    font-size: 2.1rem;
  }
}


/* @media only screen and (max-width: 375px) {
  #player {
    margin-right: 80%;
  }
  #startingGameText {
    font-size: 2.3rem;
    white-space: none;
    margin-top: -580px;
    margin-left: 25px;
  }
  #start-game {
    margin-left: 100px;
    margin-top: -50px;
    font-size: 1.7rem;
    padding: 20px;
  }
  #rock, #paper, #scissors {
    padding: 15px;
    margin: 10px;
    margin-top: 140px;
    font-size: 1.8rem;
    width: 30%;
    height: 5%;
  }
  #random {
    margin-top: 350px;
    margin-left: 120px;
    font-size: 1.8rem;
    padding: 13px;
    width: 30%;
    height: 12%;
  }
  #textOnTop {
    top: 210px;
    left: 115px;
    font-size: 2.1rem;
  }
}


@media only screen and (min-width: 360px) {
  #player {
    margin-right: 55%;
  }
  #startingGameText {
    font-size: 2.15rem;
    margin-top: -480px;
    margin-left: 20px;
  }
  #start-game {
    margin-left: 85px;
    margin-top: 0px;
    font-size: 1.7rem;
    padding: 20px;
  }
  #rock, #paper, #scissors {
    padding: 15px;
    margin: 12px;
    margin-top: 0px;
    font-size: 1.8rem;
    width: 33%;
    height: 7%;
  }
  #random {
    margin-top: 290px;
    margin-left: 120px;
    font-size: 1.8rem;
    padding: 13px;
    width: 34%;
    height: 14%;
  }
  #textOnTop {
    top: 190px;
    left: 115px;
    font-size: 2rem;
  }
}


@media only screen and (min-width: 370px) {
  #player {
    margin-right: 55%;
  }
  #startingGameText {
    font-size: 2.15rem;
    margin-top: -480px;
    margin-left: 20px;
  }
  #start-game {
    margin-left: 95px;
    margin-top: 0px;
    font-size: 1.7rem;
    padding: 20px;
  }
  #rock, #paper, #scissors {
    padding: 15px;
    margin: 12px;
    margin-top: 0px;
    font-size: 1.8rem;
    width: 33%;
    height: 7%;
  }
  #random {
    margin-top: 260px;
    margin-left: 120px;
    font-size: 1.8rem;
    padding: 13px;
    width: 34%;
    height: 14%;
  }
  #textOnTop {
    top: 180px;
    left: 115px;
    font-size: 2rem;
  }
}


@media only screen and (min-width: 400px) {
  #player {
    margin-right: 50%;
  }
  #startingGameText {
    font-size: 2.3rem;
    white-space: none;
    margin-top: -580px;
    margin-left: 25px;
  }
  #start-game {
    margin-left: 100px;
    margin-top: -50px;
    font-size: 1.7rem;
    padding: 20px;
  }
  #rock, #paper, #scissors {
    padding: 15px;
    margin: 10px;
    margin-top: 140px;
    font-size: 1.8rem;
    width: 30%;
    height: 5%;
  }
  #random {
    margin-top: 350px;
    margin-left: 120px;
    font-size: 1.8rem;
    padding: 13px;
    width: 30%;
    height: 12%;
  }
  #textOnTop {
    top: 210px;
    left: 115px;
    font-size: 2.1rem;
  }
}


@media only screen and (min-width: 450px) {
  #start-game {
    margin-left: 130px;
    margin-top: -50px;
    font-size: 1.7rem;
    padding: 20px;
  }
}


@media only screen and (min-width: 500px) {
  #player {
    margin-right: 60%;
  }
  #startingGameText {
    font-size: 2.4rem;
    white-space: none;
    margin-top: -580px;
    margin-left: 70px;
  }
  #start-game {
    margin-left: 160px;
    margin-top: -100px;
    font-size: 1.7rem;
    padding: 20px;
  }
  #rock, #paper, #scissors {
    padding: 17px;
    margin: 10px;
    margin-top: 140px;
    font-size: 1.8rem;
    width: 30%;
    height: 5%;
  }
  #random {
    margin-top: 350px;
    margin-left: 165px;
    font-size: 1.8rem;
    padding: 13px;
    width: 30%;
    height: 12%;
  }
  #textOnTop {
    top: 210px;
    left: 172px;
    font-size: 2.1rem;
  }
}


@media only screen and (min-width: 600px) {
  #player {
    margin-right: 67%;
  }
  #startingGameText {
    font-size: 2.4rem;
    white-space: none;
    margin-top: -580px;
    margin-left: 110px;
  }
  #start-game {
    margin-left: 205px;
    margin-top: -100px;
    font-size: 1.7rem;
    padding: 20px;
  }
  #rock, #paper, #scissors {
    padding: 17px;
    margin: 10px;
    margin-top: 140px;
    font-size: 1.8rem;
    width: 30%;
    height: 5%;
  }
  #random {
    margin-top: 350px;
    margin-left: 195px;
    font-size: 1.8rem;
    padding: 13px;
    width: 30%;
    height: 12%;
  }
  #textOnTop {
    top: 210px;
    left: 217px;
    font-size: 2.1rem;
  }
}


@media only screen and (min-width: 600px) {
  #start-game {
    margin-left: 235px;
    margin-top: -50px;
    font-size: 1.7rem;
    padding: 20px;
  }
  #random {
    margin-top: 350px;
    margin-left: 215px;
  }
  #textOnTop {
    top: 210px;
    left: 242px;
    font-size: 2.1rem;
  }
}


@media only screen and (min-width: 1070px) {
  #player {
    margin-right: 80%;
  }
  #startingGameText {
    font-size: 2.8rem;
    margin-top: -830px;
    margin-left: 340px;
  }
  #start-game {
    margin-left: 430px;
    margin-top: 160px;
    font-size: 2rem;
    padding: 20px;
  }
  #rock, #paper, #scissors {
    padding: 15px;
    margin: 10px;
    margin-top: 170px;
    font-size: 2em;
    width: 13%;
    height: 7%;
  }
  #random {
    margin-top: 350px;
    margin-left: 465px;
    font-size: 1.5rem;
    padding: 13px;
    width: 12%;
    height: 10%;
  }
  #textOnTop {
    top: 210px;
    left: 460px;
    font-size: 2rem;
  }
}
*/

@media only screen and (min-width: 1366px) {
  #player {
    margin-right: 85%;
  }
  #startingGameText {
    font-size: 2.5rem;
    margin-top: -550px;
    margin-left: 465px;
  }
  #start-game {
    margin-left: 550px;
    margin-top: 30px;
    font-size: 1.6rem;
    padding: 15px;
  }
  #rock, #paper, #scissors {
    padding: 15px;
    margin: 10px;
    font-size: 1.4rem;
    width: 10%;
    height: 5%;
  }
  #random {
    margin-top: 230px;
    margin-left: 575px;
    font-size: 1.5rem;
    padding: 13px;
    width: 10%;
    height: 13%;
  }
  #textOnTop {
    top: 135px;
    left: 570px;
    font-size: 2rem;
  }
} 
/*# sourceMappingURL=responsive.css.map */