@import url("./responsive.css");
html {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 667px;
}

body {
  -webkit-animation: transitionIn 1s;
          animation: transitionIn 1s;
}

@-webkit-keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 350px;
  visibility: hidden;
}

#resultEnd{ 
  position: fixed; 
  top: 50%;
  margin-top: -50px;
  left: 40%;  
  margin-left: -50px;
  width: 50%;
  max-width: 400px;
  height: 120px;
  background: #f6f6f6;
  border-radius: 3.5%;
  text-align: center;
  color: #ccc;
  z-index: 5;
  padding: 5px;  
}

#resultEnd ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 4px;
}
.twitter{
  color: #15b8dd;
}
.github{
  color: #1f1f1f;
}
#rock, #paper, #scissors {
  background: #302C2C;
  padding: 15px;
  margin: 10px;
  font-size: 1.4rem;
  font-family: 'Ranga', cursive;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
  text-align: center;
  color: #1B788C;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  width: 10%;
  height: 5%;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

#rock:hover, #paper:hover, #scissors:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #1B788C;
  color: #302C2C;
}

#random {
  position: fixed;
  margin-top: -130px;
  margin-left: 575px;
  font-size: 1.5rem;
  padding: 13px;
  visibility: hidden;
  overflow: hidden;
  pointer-events: none;
  background: #302C2C;
  color: #1B788C;
  border: #ffffff;
  border-radius: 3px;
  width: 10%;
  height: 13%;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 259px;
  height: 53px;
  left: 17px;
  top: 24px;
  font-family: 'Ranga', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 88px;
  color: #155462;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

#player {
  margin-right: 960px;
}

#start-game {
  margin-left: 550px;
  margin-top: 30px;
  font-size: 1.5rem;
  padding: 13px;
  cursor: pointer;
  background: #302C2C;
  color: #1B788C;
  border: #ffffff;
  border-radius: 2px;
  outline: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  mix-blend-mode: normal;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#start-game:hover {
  background: #1B788C;
  color: #302C2C;
}

#startingGameText {
  color: #302C2C;
  font-size: 2.5rem;
  margin-top: -450px;
  margin-left: 480px;
  font-family: 'Carter One', cursive;
}

#textOnTop {
  position: fixed;
  top: 115px;
  left: 600px;
  text-align: center;
  font-size: 2rem;
  opacity: 0.9;
  font-family: 'Ranga', cursive;
}
/*# sourceMappingURL=style.css.map */